@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
  }

  body {
    @apply bg-gradient-to-br from-[#667eea] to-[#764ba2] min-h-screen font-sans antialiased;
  }
}

@layer utilities {
  /* Scrollbar Styles */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-lg;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-lg hover:bg-gray-600;
  }
}
